<header class="subhead">
  {{#if is_current}}
  <h1>Your activity</h1>
  <p class="lead">Your races</p>
  {{else}}
  <h1>{{info.disp_name}}'s races</h1>
  <p class="lead">Check out what {{info.disp_name}} is up to</p>
  {{/if}}
</header>
<section>
  <div class="page-header">
    <h1>Races</h1>
  </div>
  {{#each races}}
  {{#with info}}
  <a href="{{url}}">
  <div class="row">
    <ul class="thumbnails">
      <li class="span12">
        <div class="thumbnail span2 offset1">
          <img class="race_img" src="{{img}}">
        </div>
        <div class="span7">
          <h3>{{name}} - {{location}}</h3>
          <h3>Distance: {{distance}} {{units}}</h3>
          <h3>{{dispDate datetime}}</h3>
          <p>{{blurb}}</p>
        </div>
   {{/with}}
        <div class="span2">
          {{#if is_current}}
            {{raceRightSide supporters}}
          {{else}}
            {{raceRightSide supporters current_user}}
          {{/if}}
        </div>
      </li>
    </ul>
  </div>
  </a>
  {{/each}}
</section>